@font-face {
  font-family: 'Messing';
  src: url('../fonts/DroidSerif-Regular-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Messing Italic';
  src: url('../fonts/DroidSerif-Italic-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Messing Bold';
  src: url('../fonts/DroidSerif-Bold-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Messing Bold Italic';
  src: url('../fonts/DroidSerif-BoldItalic-webfont.woff');
  font-weight: normal;
  font-style: normal;
}
