@import 'variables';

section {
  position: relative;
  color: $black;

  h1 {
    font-family: 'Messing Bold', serif;
    font-size: 100px;

    @media only screen and (max-width: 1024px) {
      font-size: 50px;
    }
  }

  p {
    margin-top: 50px;
    font-family: 'Messing Italic', serif;
    font-size: 30px;

    @media only screen and (max-width: 1024px) {
      font-size: 15px;
    }

    a {
      color: $gold;
      text-decoration: none;

      &:hover {
        color: $black;
        border-bottom: 3px solid $black;
      }
    }
  }

  &.centered {
    display: flex;
    align-items: center;
    min-height: 100vh;
  }

  &.inverted {
    color: $white;
    background-color: $black;
  }
}
