section {
  position: relative;
  color: #222222; }
  section h1 {
    font-family: 'Messing Bold', serif;
    font-size: 100px; }
    @media only screen and (max-width: 1024px) {
      section h1 {
        font-size: 50px; } }
  section p {
    margin-top: 50px;
    font-family: 'Messing Italic', serif;
    font-size: 30px; }
    @media only screen and (max-width: 1024px) {
      section p {
        font-size: 15px; } }
    section p a {
      color: #d1a14a;
      text-decoration: none; }
      section p a:hover {
        color: #222222;
        border-bottom: 3px solid #222222; }
  section.centered {
    display: flex;
    align-items: center;
    min-height: 100vh; }
  section.inverted {
    color: #fdfffc;
    background-color: #222222; }
